asgiref
astroid
async-generator
attrs
certifi
cffi
cryptography
dill
Django
django-appconf
django-compressor
django-sass-processor
Faker
gunicorn==20.1.0
h11
idna
isort
lazy-object-proxy
libsass
mccabe
mypy
mypy-extensions
mysqlclient
outcome
platformdirs
pycodestyle
pycparser
pyOpenSSL
PySocks
python-dateutil
python-environ
rcssmin
rjsmin
six
sniffio
snowballstemmer
sortedcontainers
sqlparse
toml
tomli
tomlkit
trio
trio-websocket
typing_extensions
urllib3
wrapt
wsproto
