{% extends 'base.html' %}
{% block title %}Redefinição de Senha{% endblock %}
{% block content %}

<div class="container mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="" role="">
                <h3 class="">Redefinição de senha enviada</h3>
                <p>Nós te enviaremos um email com as instruções para
                    configurar sua nova senha, se uma conta existe com o email fornecido.</p>
                <p>
                    Você receberá a mensagem em breve. Se você não recebeu um email, por favor certifique-se que você
                    forneceu o endereço correto com que está cadastrado e verifique sua pasta <em>spam</em>.
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}