{% extends 'base.html' %}
{% block title %}Redefinição de Senha{% endblock %}
{% block content %}

<div class="container mx-auto">

    <div class="row">
        <h2>Resetar senha</h2>
        <p>Esqueceu sua senha? Forneça seu endereço de email cadastrado abaixo, e enviaremos um email com instruções
            para configurar uma nova.</p>
    </div>
    <div class="row d-flex justify-content-center">
        <form class="form" id="frm-login" method="post">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.email.errors }}

                    <div class="row">
                        <div class="form-group col">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" autofocus autocapitalize="none"
                                autocomplete="email" maxlength="150" required="" id="email">
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <input type="submit" value="Redefinir senha" class="btn btn-success btn-lg">
                </div>
            </div>
        </form>
    </div>

</div>
{%endblock%}