{% extends 'base.html' %}
{% block title %}Redefinição de Senha{% endblock %}
{% block content %}

<div class="container mx-auto">
    <h3 class="py-2 mb-3">Informe sua nova senha.</h3>

    <form method="POST" class="container mx-auto">
        <div class="row mb-3 offset-sm-2">
            <label for="new_password1" class="col-sm-2 col-form-label text-right">Nova Senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control
                    {% if form.new_password1.errors %}border border-danger{% endif %}" required id="new_password1"
                    name="new_password1">
                <span class="help-block
                        {% if form.new_password1.errors %}
                            text-danger small
                        {% endif %}
                    ">{{ form.new_password1.errors.0 }}</span>
            </div>
        </div>
        <div class="row mb-3 offset-sm-2">
            <label for="new_password2" class="col-sm-2 col-form-label text-right">Confirmação da
                Senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control
                    {% if form.new_password2.errors %}border border-danger{% endif %}" required id="new_password2"
                    name="new_password2">
                <span class="help-block
                        {% if form.new_password2.errors %}
                            text-danger small
                        {% endif %}
                    ">{{ form.new_password2.errors.0 }}</span>
            </div>
        </div>

        <div class="row my-3 text-center">
            <div class="col-sm-4 offset-sm-4">
                <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
        </div>
        {% csrf_token %}
    </form>

    <form class="form row g-3">

        <!-- <div class="row">
            <div class="col-12 col-md-2">
                <label for="new_password1" class="form-label">Nova senha:</label>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <input type="password" class="form-control
                         id="new_password1" name="new_password1">
                    

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="id_new_password2">Confirmação da nova senha:</label>
                <input type="password" class="form-control" name="new_password2" autofocus="" autocapitalize="none"
                    required id="id_new_password2" autocomplete="new-password">
            </div>
        </div>
        {% if form.new_password2.errors %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                {{ form.new_password2.errors }}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
        </div> -->
    </form>
</div>

{%endblock%}