{% load static %}
{% load sass_tags %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minhoteca - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Gustavo Adolfo">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="pt-br">
    <meta name="email" content="contato@minhoteca.com.br">

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" href="{% static 'imgs/apple-touch-icon.png' %}" sizes="180x180"> -->
    <link rel="icon" href="{% static 'imgs/favicon-32x32.png'%}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'imgs/favicon-16x16.png'%}" sizes="16x16" type="image/png">
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}">
    <meta name="theme-color" content="#c9c2c3">

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="content-page d-flex align-items-stretch flex-column bd-highlight mb-3">

        <div class="container-flex d-flex flex-column flex-md-row flex-grow-1">
            <nav class="navbar navbar-expand-md navbar-light d-flex flex-md-column align-items-start">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'imgs/minhoteca.svg'%}" alt="Minhoteca" title="Início">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-toggle="collapse"
                    data-bs-target="#navbarDefaultMenu" data-target="#navbarDefaultMenu"
                    aria-controls="navbarDefaultMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse w-100 align-items-start" id="navbarDefaultMenu">
                    <ul class="navbar-nav w-100 d-flex flex-md-column align-items-start list-group list-group-flush">
                        {% if user.is_authenticated %}
                        <h6 class="px-1 my-2 text-center">Olá {{user.first_name}}</h6>
                        {% endif %}

                        <li class="list-group-item list-group-item-action
                            {% if "books" in request.path and not "author" in request.path and not 'borrowings' in request.path %} active
                            {% endif %}"><a href="{% url 'library:books' %}" class="nav-link btn">Livros</a></li>
                        <li class="list-group-item list-group-item-action
                            {% if "books" in request.path and "authors" in request.path %} active {% endif %}">
                            <a href="{% url 'library:authors' %}" class="nav-link btn">Autores</a></li>
                        {% if not user.is_authenticated %}
                        <li class="list-group-item list-group-item-action"><a href="{% url 'accounts:login' %}"
                                class="nav-link btn">Entrar</a></li>
                        {% else %}
                        <li class="list-group-item list-group-item-action
                            {% if "accounts" in request.path and "profile" in request.path %} active {% endif %}"><a
                                href="{% url 'accounts:profile' %}" class="nav-link btn">Perfil</a>
                        </li>
                        <li class="list-group-item list-group-item-action
                            {% if "borrowings" in request.path and "books" in request.path %} active {% endif %}"><a
                                href="{% url 'library:borrowings' %}" class="nav-link btn">Empréstimos</a>
                        </li>
                        <li class="list-group-item list-group-item-action"><a href="{% url 'accounts:logout' %}"
                                class="nav-link btn">Sair</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main id="main-content" class="p-2 flex-grow-1">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {% if 'safe' in message.extra_tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="justify-content-md-center mt-4 py-2 px-4 anuncios">
            <p>
                Compre livros na Amazon e ajude no desenvolvimento do projeto
                <a href="https://www.livrosviajantes.com.br" id="plv">Plataforma Livros Viajantes</a>!
            </p>
            <div class="anuncios">
                {% for link in links %}
                <div class="anuncio-livro">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=plv0a-20&language=pt_BR&marketplace=amazon&region=BR&{{ link }}&show_border=true&link_opens_in_new_window=true"></iframe>
                </div>
                {% endfor %}
            </div>
        </div>
        <footer class="footer h-60 p-2 mt-4 border-top border-dark">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/3cf7c3a500.js" crossorigin="anonymous"></script>
</body>

</html>