{% extends 'base.html' %}

{% block title %}Minhoteca{% endblock %}

{% block content %}
<div class="container" id="front">
    <div class="row justify-content-md-center">
        <div class="col col-sm-12 col-md-7" style="border: 1px solid blue">
            Apresentação

            <div class="row d-lg-none">
                <div class="col col-12">
                    <button class="btn btn-primary">Cadastre-se</button>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block col-md-5 d-flex justify-content-center" style="border: 1px solid darkgreen">
            {% if not request.user.is_authenticated %}
            {% include 'create_user.html' %}
            {% else %}
            <h3>Estatísticas</h3>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-md-center" style="border: 1px solid orangered">
        <div class="col col-12">
            Anúncios
        </div>
    </div>
</div>
{% endblock %}