{% extends 'base.html' %}
{% block title %}Minhoteca{% endblock %}
{% load static %}

{% block content %}
<div class="container" id="front">
    <div class="row justify-content-md-center">
        <div class="col col-sm-12 col-md-7">
            <section id="landing">
                <h1 class="shadow bg-body p-3 mb-2">
                    Olá, esta é a Minhoteca!<br />
                    <small>Há no momento {{books_count}} livros disponíveis de
                        {{authors_count}} autores
                        diferentes</small>
                </h1>
                <div class="">
                    <div>
                        <p>
                            <strong>Uma ideia bem simples:</strong> se você está por perto e gosta de ler, vou te
                            emprestar um livro! Pois é, não te conheço... mas tudo bem, vamos apostar na humanidade
                            e assim todos crescemos.
                        </p>
                        <p>Se algum dos livros disponibilizados aqui lhe interessar solicite o empréstimo,
                            respeite o prazo de devolução e seja cuidadoso. Depois de você, outro leitor terá sua
                            chance.
                        </p>
                    </div>
                </div>
                <h2 class="shadow bg-body  p-3 my-3">Funciona assim:</h2>
                <div class="my-2">
                    <div class="d-flex transparent">
                        <ul class="list-group list-group-flush small transparent">
                            <li class="list-group-item transparent">Se você mora ou trabalha num raio de 2km da Estação
                                Tamanduateí do Metrô, em São Paulo, pode solicitar o empréstimo.</li>
                            <li class="list-group-item transparent">Você solicita o livro e combinamos de nos encontrar
                                nas
                                catracas do metrô para a entrega.</li>
                            <li class="list-group-item transparent">Quando for devolver, o mesmo procedimento.</li>
                            <li class="list-group-item transparent">No seu cadastro vai ser necessário informar alguns
                                dados
                                para contato e para que (em casos
                                excepicionais) você possa ser localizado e o livro ser recuperado.</li>
                            <li class="list-group-item transparent">Seus dados <em>NUNCA</em> serão compartilhados com
                                ninguém
                                ou com qualquer organização, empresa ou instituição.</li>
                            <li class="list-group-item transparent">Você não precisa pagar por cadastro ou empréstimo.
                            </li>
                            <li class="list-group-item transparent">Tudo o que você precisa é ser honesto, íntegro,
                                responsável,
                                comprometido... enfim, o básico da civilidade.
                            </li>
                        </ul>
                        <figure id="mapa-raio" class="transparent">
                            <a href="https://goo.gl/maps/Cq5FVrika3wXV5MX7" target="_blank">
                                <img src="{% static 'imgs/mapa.png' %}" alt="Mapa"
                                    title="Raio de 2km da estação de metrô Vila Matilde" class="img-thumbnail">
                            </a>
                            <figcaption>Entorno de 2km da Estação Tamanduateí do Metrô.</figcaption>
                        </figure>
                    </div>
                </div>

            </section>
            {% if not request.user.is_authenticated %}
            <div class="row d-lg-none">
                <div class="col col-12">
                    <button class="btn btn-info">Cadastre-se</button>
                </div>
            </div>
            {% endif %}
        </div>
        <aside class="col d-none d-lg-block col-sm-12 col-md-5 d-flex flex-column justify-content-center px-2">
            {% if not request.user.is_authenticated %}
            {% include 'create_user.html' %}
            {% else %}
            <div class="shadow p-3 mb-5" id="estatisticas">
                <h3 class="p-2 mb-1">Estatísticas</h3>
                <div class="row">
                    <div class="col col-12">
                        <span class="label-estatistica">Empréstimos</span>
                        <span class="valor-estatistica">{{stats.borrows}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <span class="label-estatistica">Perdas</span>
                        <span class="valor-estatistica negativo">{{stats.loses}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <span class="label-estatistica">Usuários</span>
                        <span class="valor-estatistica">{{stats.users}}</span>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="shadow p-3 mb-5 recados">
                <h3>
                    Quer ajudar a espalhar essa ideia?
                </h3>
                <p>Disponibilize uma "minhoteca" no seu bairro, condomínio, empresa, ou qualquer área
                    delimitada
                    por você. Se você entende um pouco que seja de desenvolvimento de software, o código
                    fonte
                    está disponível livremente no
                    <a href="https://github.com/GustavoAdolfo/minhoteca" target="_blank" class="link-recados">GitHub
                        do projeto</a>.
                </p>
                <hr />
                <p>
                    <span class="aside-alerta">É importante ressaltar que a responsabilidade sobre isso é
                        totalmente sua.
                        <strong>Nenhum envolvido no projeto <em>Minhoteca</em> presta serviços de
                            suporte</strong>. <br />
                        Lembre-se: <strong>a responsabilidade sobre os empréstimos dos SEUS livros é
                            SUA</strong>.</span></p>
            </div>
            <div class="shadow p-3 mb-5 recados">
                <h3>
                    Já ouviu falar da PLV?
                </h3>
                <p>A <strong>Plataforma Livros Viajantes</strong> pretende espalhar o hábito da leitura e as
                    iniciativas literárias por todo o país e ainda ajudar o mercado editorial brasileiro a
                    evoluir nesses "tempos digitais". Para saber mais acesse <a
                        href="https://www.livrosviajantes.com.br" target="_blank"
                        class="link-plv">www.livrosviajantes.com.br</a></p>
                <p>Você também pode ajudar com a realização desse projeto comprando livros pelos links que
                    disponibilizamos
                    aqui.</p>
                <p>Embarque nessa com a gente!</p>
            </div>
        </aside>
    </div>
</div>

<div class="modal modal-lg" id="modal-cookies" tabindex="-1" aria-labelledby="modal-cookiesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="mb-3">Este site utiliza cookies</h3>
                <p>Este site utiliza cookies bem como outras tecnologias semelhantes apenas para garantir seu
                    funcionamento essencial, nenhum dado pessoal ou sobre seu equipamento é armazenado ou
                    compartilhado. </p>
                <p>Ao selecionar o botão “Aceitar e prosseguir” você está certificando que está ciente desta
                    política e consente a utilização de cookies e tecnologias semelhantes.</p>
                <p>Selecionando "Rejeitar" você será redirecionado para fora da área
                    deste site.</p>
            </div>
            <div class="modal-footer">
                <a href="https://www.google.com">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Rejeitar</button></a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceitar e prosseguir</button>
            </div>
        </div>
    </div>
</div>

<script>
    const token = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
    const hideModal = sessionStorage.getItem('modal-cookies');
    if (hideModal !== token) {
        const modalOptions = {
            backdrop: 'static',
            keyboard: false,
            show: true
        };
        const cookieModal = new bootstrap.Modal(document.getElementById('modal-cookies'), modalOptions);
        document.getElementById('modal-cookies').addEventListener('hidden.bs.modal', event => {
            console.log(token);
            sessionStorage.setItem('modal-cookies', token);
        });
        cookieModal.show();
    }
</script>
{% endblock %}